body{
    background-image:url(../img/bg-2.png);
}
.header{
    width: 1140px;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    overflow: hidden;
    background-color: rgb(239, 76, 39);
    padding: 12px 15px;
    overflow: hidden;
}
.logo{
    width: 300px;
    height: 100px;
    float: left;
}
li {
    list-style: none;
}
.nav2{
    float: right;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}
.nav1{
    float:left;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold
}
.ul1 li{
    float: left;
    padding: 10px;
    font-size: 20px;
}
.ul2 li {
    float: left;
    padding: 10px;
}
.ul2 li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}





main{
    width: 1140px;
    height: 1500px;
    overflow: hidden;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 350px;
    position: relative;
    margin-left: 50%;
}
form h1{
    font-size: 50px;
    text-align: center;
}
label{
    font-size: 20px;
}
.input{
    border: 1px solid lightblue;
    width: 320px;
    height: 30px;
}
.pais{
    width: 200px;
    height: 30px;
}
.label{
    display: inline-block;
    font-size: 13px;
}
.comentario{
    border: 1px solid lightblue;
}
.p{
    color: red;
}
.A{
    margin-top: 14px;
}
.boton{
    display: inline-block;
    background-color: royalblue;
    width: 120px;
    height: 34px;
    border-radius: 15px;
    border: royalblue;
    color: white;
    margin-top: 40px;
    font-weight: bold;
}
.negrita{
    font-weight: bold;
}